.name,
.career {
  animation: Title 500ms forwards;
  opacity: 0;
  animation-delay: 500ms;
}

.social,
.paragraph {
  animation: Title2 1000ms forwards;
  opacity: 0;
  animation-delay: 1000ms;
}

@keyframes Title {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Title2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    width: 100%;
    height: 100%;
    background-image: url(Backgroud-images/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .input-atributte {
    display: none;
  }

  .welcome-title {
    text-decoration: none;
    color: black;
  }

  .desktop-buttons {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.92);
    overflow-x: hidden;
    transition: 0.5s;
    vertical-align: top;
  }

  .menu-navigation {
    position: relative;
    top: 0%;
    left: 0%;
    padding: 24px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .toggle-nav {
    font-size: 30px;
  }

  .a-buttons:hover {
    color: #36b37f;
  }

  .desktop-buttons .closebtn {
    position: absolute;
    margin: 0 0 0 0;
    color: #67798e;
    font-size: 30px;
    top: 0;
    right: 15px;
  }

  .desktop-buttons a {
    padding: 10px;
    margin: 30px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: #3a4a42;
  }

  .toolbar {
    display: flex;
    font-family: "Inter", sans-serif;
    font-style: normal;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    position: static;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 0;
    padding-top: 85px;
  }

  .career {
    position: static;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #36b37f;
    text-align: center;
    margin-top: 0;
  }

  .paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .github,
  .linkedin,
  .twitter {
    padding-right: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  .pop-up-modal {
    position: absolute;
    background-color: white;
    margin-top: 70px;
    border-radius: 0.5rem;
    width: 385px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-cont-pop {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  #img {
    width: 350px;
    height: auto;
  }

  .close-btn-cont {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 330px;
    margin: 20px 20px 0 35px;
  }

  .space-bet {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
  }

  .flex-btn {
    display: none;
  }

  .flex-btn-mob {
    display: flex;
    justify-content: center;
  }

  .live {
    display: none;
  }

  .live-mob {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 20px 5px 20px 5px;
    border: none;
    text-decoration: none;
  }

  #name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .buttons-tech {
    margin: 0 0 0 25px;
  }

  .technologies-buttons {
    margin: 0 4px 0 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #344563;
    background: #ebecf0;
    border-radius: 8px;
    border: none;
    height: 32px;
    padding: 8px 8px 0 8px;
  }

  .ul-container {
    padding-inline-start: 0;
  }

  .lorem {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin: 15px 25px 0 25px;
    color: #172b4d;
  }

  .error-msg {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 20px 85px;
    color: red;
  }

  .sub-flex {
    display: block;
  }

  .works {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 50px;
  }

  .recent-works {
    align-items: center;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    padding-left: 10px;
  }

  .separation-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
  }

  .multi-post-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
  }

  .buttons {
    text-align: center;
  }

  .languages {
    position: static;
    margin-right: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: white;
    background: #26815b;
    border-radius: 4px;
    border: none;
    height: 32px;
    margin-bottom: 10px;
  }

  .languages:hover {
    background: #36b37f;
    color: #b6c1bc;
  }

  .see-project {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .see-project:active {
    background: #008552;
    font-weight: bold;
  }

  .whole-works-section {
    display: flex;
    justify-content: center;
  }

  .works-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 327px;
    height: 474px;
    margin-left: 26px;
    margin-right: 22px;
    margin-bottom: 30px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    padding-bottom: 24px;
  }

  .multi {
    background-color: white;
  }

  .image-grey {
    width: 327px;
    height: 252px;
  }

  .about-me-title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
  }

  .span-width {
    margin: 0 20px;
  }

  .about-me-paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    width: 351px;
    margin-top: 0;
    padding-left: 10px;
  }

  .about-cont {
    display: flex;
    justify-content: space-between;
  }

  .about-me {
    background-image: url(images/about.png);
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .get-my-resume {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 50px;
  }

  .get-my-resume:active {
    background: #008552;
    font-weight: bold;
  }

  .container-skills {
    width: 327px;
    height: 360px;
    border-radius: 8px;
    background-color: #b6c1bc;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .languages-title {
    color: #344563;
    font-family: "Inter", sans-serif;
    text-align: center;
  }

  .icon-lang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .data {
    background-image: url(images/form.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  .final-text {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 58px;
  }

  .input-name,
  .email-address {
    width: 327px;
    height: 48px;
    margin: 0 22px 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .text1 {
    width: 327px;
    height: 114px;
    margin: 20px 22px 24px 24px;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0 0 10px;
    color: #091e42;
  }

  .text2 {
    display: none;
  }

  .input-first-name,
  .input-last-name {
    display: none;
  }

  .final-email {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    height: 375px;
  }

  .side-form {
    position: absolute;
  }

  .icons-skills,
  .icons-frame,
  .icons {
    margin-left: 8px;
    color: #26815b;
    background: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 600;
  }

  .get-in-touch {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .intro {
    background-image: url(desktop/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    text-align: center;
  }

  #desk-buttons .closebtn {
    display: none;
  }

  .input-atributte {
    display: none;
  }

  .toolbar {
    display: none;
  }

  .desktop-buttons {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-bottom: 200px;
  }

  .a-buttons {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 0 25px;
    text-decoration: none;
    color: #172b4d;
  }

  .name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    color: #172b4d;
    vertical-align: middle;
  }

  .career {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 0;
    color: #36b37f;
    text-align: center;
    vertical-align: middle;
  }

  .paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    padding: 0 300px;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .github,
  .linkedin,
  .twitter {
    padding-right: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  .recent-works {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-family: "Inter", sans-serif;
  }

  .name-render {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    text-align: left;
  }

  .pop-up-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 125px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
  }

  .overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-cont-pop {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  #img {
    transform: scale(0.95);
  }

  .close-btn-cont {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 800px;
    margin: 100px 0 0 50px;
  }

  .space-bet {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
  }

  .flex-btn {
    display: flex;
  }

  .flex-btn-mob {
    display: none;
  }

  .live-mob {
    display: none;
  }

  .live {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 20px 5px 20px 5px;
    border: none;
    text-decoration: none;
  }

  #name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .buttons-tech {
    margin: 0 0 0 25px;
  }

  .technologies-buttons {
    margin: 0 4px 0 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #344563;
    background: #ebecf0;
    border-radius: 8px;
    border: none;
    height: 32px;
    padding: 8px 8px 0 8px;
  }

  .ul-container {
    padding-inline-start: 0;
  }

  .lorem {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 25px 0 25px;
    color: #172b4d;
  }

  .error-msg {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: red;
    margin: 50px 50px;
  }

  .works {
    display: none;
  }

  .separation-bar {
    display: none;
  }

  .multi-post-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
  }

  .buttons {
    text-align: center;
  }

  .languages {
    position: static;
    margin-right: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: white;
    background: #26815b;
    border-radius: 4px;
    border: none;
    height: 32px;
  }

  .languages:hover {
    background: #36b37f;
    color: #b6c1bc;
  }

  .see-project {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .see-project:active {
    background: #008552;
    font-weight: bold;
  }

  .works-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 327px;
    height: 474px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    padding-bottom: 24px;
    transform: scale(0.8);
  }

  .multi {
    background-color: white;
  }

  .image-grey {
    width: 327px;
    height: 252px;
  }

  .whole-works-section {
    display: flex;
    justify-content: center;
  }

  .works-title {
    text-align: center;
  }

  .desk-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .whole-about-me-section {
    background-image: url(desktop/illustration\ about\ me\ desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 80%;
  }

  .about-me {
    background-image: url(desktop/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 15%;
    margin-bottom: 52px;
  }

  .about-me-title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    margin-bottom: 24px;
    transform: scale(0.9);
  }

  .about-me-paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    vertical-align: middle;
    margin: 0 175px;
    transform: scale(0.85);
  }

  .get-my-resume {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 50px;
  }

  .get-my-resume:active {
    background: #008552;
    font-weight: bold;
  }

  .container-skills {
    width: 369px;
    height: 352px;
    border-radius: 8px;
    background-color: #b6c1bc;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .languages-title {
    color: #344563;
    font-family: "Inter", sans-serif;
    text-align: center;
  }

  .icon-lang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .icons-skills,
  .icons-frame,
  .icons {
    margin-left: 8px;
    color: #26815b;
    background: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 600;
    padding: 0 15px;
  }

  .mask1 {
    display: none;
  }

  .full-skills-container {
    display: flex;
    justify-content: center;
    transform: scale(0.85);
  }

  .data-form-flex {
    display: flex;
  }

  .final-email {
    display: none;
  }

  .email-address {
    width: 684px;
    height: 48px;
    margin: 0 22px 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .text1 {
    width: 684px;
    height: 114px;
    margin: 20px 22px 24px 24px;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0 0 10px;
    color: #091e42;
  }

  .final-text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }

  .sub-flex {
    display: flex;
  }

  .desk-form-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    background-image: url(desktop/peque.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 110px;
    background-position-y: bottom;
    transform: scale(0.85);
  }

  .input-name {
    width: 330px;
    height: 48px;
    margin: 24px 0 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .input-last-name {
    width: 330px;
    height: 48px;
    margin: 22px 22px 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .desk-form {
    display: inline-table;
  }

  .data {
    background-image: url(desktop/right.svg), url(desktop/left.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, left;
    background-position-y: bottom, bottom;
    background-size: 15%, 15%;
  }

  .get-in-touch {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: none;
    margin: 38px 0 50px 27px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 601px) {
  .intro {
    background-image: url(desktop/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    text-align: center;
  }

  .input-atributte {
    display: none;
  }

  .toolbar {
    display: none;
  }

  .desktop-buttons {
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-bottom: 100px;
  }

  .portfolio-desk,
  .about-desk,
  .contact-desk {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 0 25px;
    text-decoration: none;
    color: #172b4d;
  }

  .name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    color: #172b4d;
    vertical-align: middle;
  }

  .career {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 0;
    color: #36b37f;
    text-align: center;
    vertical-align: middle;
  }

  .paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    padding: 0 200px;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .github,
  .linkedin,
  .twitter {
    padding-right: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  .recent-works {
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-family: "Inter", sans-serif;
  }

  .pop-up-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
  }

  .overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .img-cont-pop {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  #img {
    margin-top: 15px;
    transform: scale(0.95);
  }

  .close-btn-cont {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 830px;
    margin: 100px 20px 0 0;
  }

  .space-bet {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
  }

  .flex-btn {
    display: flex;
  }

  .live {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 20px 5px 20px 5px;
    border: none;
    text-decoration: none;
  }

  #name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .buttons-tech {
    margin: 0 0 0 25px;
  }

  .lorem {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 15px 25px 0 25px;
    color: #172b4d;
  }

  .error-msg {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: red;
    margin: 50px 50px;
  }

  .works {
    display: none;
  }

  .separation-bar {
    display: none;
  }

  .multi-post-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
  }

  .buttons {
    text-align: center;
  }

  .languages {
    position: static;
    margin-right: 8px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: white;
    background: #26815b;
    border-radius: 4px;
    border: none;
    height: 32px;
  }

  .languages:hover {
    background: #36b37f;
    color: #b6c1bc;
  }

  .see-project {
    background: #26815b;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .see-project:active {
    background: #008552;
    font-weight: bold;
  }

  .works-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 327px;
    height: 474px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    padding-bottom: 24px;
    transform: scale(0.8);
  }

  .multi {
    background-color: white;
  }

  .image-grey {
    width: 327px;
    height: 252px;
  }

  .whole-works-section {
    display: flex;
    justify-content: center;
  }

  .works-title {
    text-align: center;
  }

  .desk-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .whole-about-me-section {
    background-image: url(desktop/illustration\ about\ me\ desktop.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 80%;
  }

  .about-me {
    background-image: url(desktop/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 15%;
    margin-bottom: 52px;
  }

  .about-me-title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    margin-bottom: 24px;
    transform: scale(0.9);
  }

  .about-me-paragraph {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    vertical-align: middle;
    margin: 0 175px;
    transform: scale(0.85);
  }

  .get-my-resume {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 50px;
  }

  .get-my-resume:active {
    background: #008552;
    font-weight: bold;
  }

  .container-skills {
    width: 369px;
    height: 352px;
    border-radius: 8px;
    background-color: #b6c1bc;
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .languages-title {
    color: #344563;
    font-family: "Inter", sans-serif;
    text-align: center;
  }

  .icon-lang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .icons-skills,
  .icons-frame,
  .icons {
    margin-left: 8px;
    color: #26815b;
    background: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 600;
    padding: 0 15px;
  }

  .mask1 {
    display: none;
  }

  .full-skills-container {
    display: flex;
    justify-content: center;
    transform: scale(0.85);
  }

  .final-email {
    display: none;
  }

  .email-address {
    width: 684px;
    height: 48px;
    margin: 0 22px 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .text1 {
    width: 684px;
    height: 114px;
    margin: 20px 22px 24px 24px;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0 0 10px;
    color: #091e42;
  }

  .final-text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172b4d;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }

  .data-form-flex {
    display: flex;
  }

  .desk-form-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    background-image: url(desktop/peque.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 110px;
    background-position-y: bottom;
    transform: scale(0.85);
  }

  .input-name {
    width: 330px;
    height: 48px;
    margin: 24px 0 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .input-last-name {
    width: 330px;
    height: 48px;
    margin: 22px 22px 24px 24px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
  }

  .desk-form {
    display: inline-table;
  }

  .data {
    background-image: url(desktop/right.svg), url(/desktop/left.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, left;
    background-position-y: bottom, bottom;
    background-size: 15%, 15%;
  }

  .sub-flex {
    display: flex;
  }

  .get-in-touch {
    background: #26815b;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    top: 12px;
    left: 12px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: none;
    margin: 38px 0 50px 27px;
  }
}
